label {
    float: left;
    clear: left;
    width: 5em;
}

input {
    float: left;
}

button {
    float: left;
    clear: both;
}

a {
    color: black;
}

a:hover {
    color: blueviolet;
}

a.linkColor:link {
    color: blue;
}

.linkPart {
    float: right;
    clear: left;
}

.signInForm {
    float: right;
    width: 90%;
    padding: 2rem;
}

.submit_button:hover {
    background-color: #DDDDEE;
    box-shadow: 3px 3px 3px gray;
}

#submit_button {
    text-decoration: none;
    color: black;
    display: block;
    background-color: #EEEEFF;
    box-shadow: 5px 5px 5px gray;
    margin-bottom: 5px;
    float: left;
    clear: both;
    padding: 3px;
}