label{
    display: block;
}

body{
    color: blanchedalmond;
    background-color: rgb(10, 31, 51);
}

input{
    background-color: rgb(255, 255, 255);
}

select{
    background-color: rgb(255, 255, 255);
}

fieldset{
    padding-top: 10px;
    padding-bottom: 10px;
}

textarea{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
}

.buttons{
    padding-top: 20px;
    padding-bottom: auto;
    text-align: center;
}